.contentMine {
    margin: 0px auto;
    width: 100%;
}
.triviaContent{
    height: 500px;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
body{
    background-image: url("../images/twistedsister.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
  }

