.contentMine {
    border: 2px solid red;
    margin: 0px auto;
    width: 100%;
}
.triviaContent{
    height: 500px;
    width: 90%;
    margin: auto;
    border: 2px solid blue;
}
.triviaContent{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
body{
    background-image: url("../images/twistedsister.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}